* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 27%,
    rgba(168, 253, 45, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgb(195, 193, 34);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 27%,
    rgba(168, 253, 45, 1) 100%
  );
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.task-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#taskInput {
  width: 70%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#addTaskButton {
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addTaskButton:hover {
  background-color: #4cae4c;
}

ul {
  list-style-type: none;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c9302c;
}
